.course {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-radius: var(--radius-sm);
  box-shadow: var(--shadow-md);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  color: #ddd6cb;
  background: linear-gradient(90deg, #2c1e19, #25200f);
}

.course:hover {
  transform: translateY(-4px);
}


.image {
  position: relative;
  height: 28rem;
}

.headerText {
  padding: 0.5rem 1rem 0 1rem;
}

.headerText h2 {
  margin: 0;
  font-size: var(--font-size-lg);
  font-family: var(--font-heading);
}

.headerText p {
  font-size: 1rem;
  color: #d1ba9d;
  font-style: italic;
}

.summary {
  padding: 1rem 1rem 0 1rem;
  font-size: 1.1rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.actions {
  padding: var(--space-sm);
  text-align: right;
}

.actions a {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: var(--radius-md);
  background: var(--accent-gradient);
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

.actions a:hover,
.actions a:active {
  background: var(--accent-gradient-hover);
  box-shadow: 0 0 12px rgba(242, 100, 18, 0.8);
}

.actionsRow {
  display: flex;
  align-items: center; /* Change from flex-end to center */
  justify-content: flex-end; /* Align the whole row to the right */
  gap: 0.5rem;
}

.actionsRow a {
  display: inline-flex;
  align-items: center;
  height: 2.5rem;
  margin-top: 0; /* Remove margin if present */
}

.iconButton {
  cursor: pointer;
  margin-left: 10px;
  padding: 0;
  font-size: 2.3rem !important; /* Slightly larger for better alignment */
  height: 2rem;
  width: 2.5rem;
  display: flex;
  align-items: flex-end; /* Align icon to the bottom */
  justify-content: center;
  transition: color 0.3s;
  vertical-align: bottom;
}

.iconButton:hover {
  color: var(--accent-light);          /* lighter orange on hover */
}