/* Layout */
.header {
  gap: 3rem;
  margin: 0.4rem auto 3.5rem auto;
  width: 90%;
  max-width: 1200rem;
  color: #2e2c29;
  font-size: 1.5rem;
}

.header h1 {
  font-family: 'Montserrat', sans-serif;
}

/* Highlighted Text */
.highlight {
  background: linear-gradient(90deg, #f9572a, #ff8a05);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Main Section */
.main {
  width: 90%;
  max-width: 75rem;
  margin: 3rem auto;
  color: white;
}

/* Form Styles */
.form {
  max-width: 50rem;
}

.form label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #44423d;
  font-weight: bold;
}

.form input,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: 1px solid #454952;
  background: #1c2027;
  font-size: 1.25rem;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}

.form input:focus,
.form textarea:focus {
  outline-color: #f99f2a;
  background-color: #1f252d;
}

/* Two-column Row for Input Fields */
.row {
  display: flex;
  gap: 1rem;
}

.row p {
  width: 100%;
}

/* Form Actions Container */
.actions {
  text-align: right;
}

/* Primary Button (used for Create/Edit) */
.actionButton {
  border: 0;
  padding: 0.75rem 2rem;
  background: linear-gradient(90deg, #f9572a, #ff9b05);
  color: #ffffff;
  border-radius: 2px;
  cursor: pointer;
  font: inherit;
  font-size: 1.25rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: background 0.2s ease;
}

.actionButton:hover,
.actionButton:focus {
  background: linear-gradient(90deg, #fd4715, #f9b241);
}

.actionButton:disabled,
.actionButton:hover:disabled,
.actionButton:focus:disabled {
  background: #ccc;
  color: #979797;
  cursor: not-allowed;
}

/* Cancel Button */
.cancelButton {
  padding: calc(0.75rem - 2px) 2rem; /* subtract border width from vertical padding */
  background: transparent;
  color: #44423d;
  font: inherit;
  font-size: 1.25rem;
  border: 2px solid #aaa;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
  box-sizing: border-box;
  margin-right: 0.5rem; /* add this */
}

.cancelButton:hover {
  background-color: #eee;
  color: #222;
}