/* [project]/components/Courses/ImagePicker.module.css [app-client] (css) */
.ImagePicker-module__t-fcAq__controls {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.ImagePicker-module__t-fcAq__picker .ImagePicker-module__t-fcAq__input {
  display: none;
}

.ImagePicker-module__t-fcAq__picker .ImagePicker-module__t-fcAq__button {
  border: 0;
  padding: .5rem 1.5rem;
  background: #a4abb9;
  border-radius: 2px;
  cursor: pointer;
  font: inherit;
}

.ImagePicker-module__t-fcAq__picker .ImagePicker-module__t-fcAq__button:hover, .ImagePicker-module__t-fcAq__picker .ImagePicker-module__t-fcAq__button:focus {
  background: #b3b9c6;
}

.ImagePicker-module__t-fcAq__preview {
  width: 10rem;
  height: 10rem;
  border: 2px solid #a4abb9;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #a4abb9;
  position: relative;
}

.ImagePicker-module__t-fcAq__preview p {
  margin: 0;
  padding: 1rem;
}

.ImagePicker-module__t-fcAq__preview img {
  object-fit: cover;
}


/* [project]/app/create-a-course/page.module.css [app-client] (css) */
.page-module__a2haPa__header {
  gap: 3rem;
  margin: .4rem auto 3.5rem;
  width: 90%;
  max-width: 1200rem;
  color: #2e2c29;
  font-size: 1.5rem;
}

.page-module__a2haPa__header h1 {
  font-family: Montserrat, sans-serif;
}

.page-module__a2haPa__highlight {
  background: linear-gradient(90deg, #f9572a, #ff8a05);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.page-module__a2haPa__main {
  width: 90%;
  max-width: 75rem;
  margin: 3rem auto;
  color: #fff;
}

.page-module__a2haPa__form {
  max-width: 50rem;
}

.page-module__a2haPa__form label {
  display: block;
  margin-bottom: .5rem;
  font-size: 1rem;
  font-family: Montserrat, sans-serif;
  text-transform: uppercase;
  color: #44423d;
  font-weight: bold;
}

.page-module__a2haPa__form input, .page-module__a2haPa__form textarea {
  display: block;
  width: 100%;
  padding: .5rem 1rem;
  border-radius: 4px;
  border: 1px solid #454952;
  background: #1c2027;
  font-size: 1.25rem;
  font-family: Montserrat, sans-serif;
  color: #fff;
}

.page-module__a2haPa__form input:focus, .page-module__a2haPa__form textarea:focus {
  outline-color: #f99f2a;
  background-color: #1f252d;
}

.page-module__a2haPa__row {
  display: flex;
  gap: 1rem;
}

.page-module__a2haPa__row p {
  width: 100%;
}

.page-module__a2haPa__actions {
  text-align: right;
}

.page-module__a2haPa__actions button {
  border: 0;
  padding: .75rem 2rem;
  background: linear-gradient(90deg, #f9572a, #ff9b05);
  border: none;
  color: #fff;
  border-radius: 2px;
  cursor: pointer;
  font: inherit;
  font-size: 1.25rem;
  box-shadow: 0 2px 5px #0000004d;
}

.page-module__a2haPa__actions button:hover, .page-module__a2haPa__actions button:focus {
  background: linear-gradient(90deg, #fd4715, #f9b241);
}

.page-module__a2haPa__actions button:disabled, .page-module__a2haPa__actions button:hover:disabled, .page-module__a2haPa__actions button:focus:disabled {
  background: #ccc;
  color: #979797;
  cursor: not-allowed;
}


/*# sourceMappingURL=_ad073d._.css.map*/
